@page "/personSearch"
@attribute [StreamRendering]
@rendermode InteractiveServer

<br />
<br />

<div class="container">
    <h3>Cadastro de Pessoa</h3>
</div>

<br />
<br />

<div class="container">
    <form>
        <div class="form-row align-items-justify">
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="search" placeholder="Pesquise por Nome">
                </div>
                <div class="col">
                    <button type="submit" @onclick="@Search" class="btn btn-primary mb-2">Buscar</button>
                </div>
                <div class="col">
                    <button type="submit" @onclick="NavigateToNewPersonPage" class="btn btn-primary mb-2">Adicionar</button>
                </div>
            </div>

            <br/>

            <div class="form-row align-items-justify">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Tipo do Telefone</th>
                            <th>Número do Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in People)
                        {
                            <tr>
                                <td>@person.Id</td>
                                <td>@person.Name</td>
                                <td>@person.BirthDate</td>
                                <td>@person.Phone.PhoneType</td>
                                <td>@person.Phone.PhoneNumber</td>
                                <td>
                                    <div class="hstack gap-2">
                                        <button @onclick="()=>Update(person)" class="btn btn-link"> Editar</button>
                                        <button @onclick="()=>Delete(person.Id)" class="btn btn-link"> Excluir</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </form>

</div>

@code {
    private List<People> People { get; set; } = new();

    private People? person { get; set; }

    [Parameter]
    public string? parameterSearch { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Search();
    }

    private async Task Search()
    {
        var people = new List<People>();

        if (parameterSearch == null)
        {
            people = await peopleService.GetAll();
        }

        if (People == null) return;


        foreach (var person in people)
        {
            People.Add(person);
        }
    }

    private void NavigateToNewPersonPage()
    {
        _navigation.NavigateTo("/person", true);
    }

    private void Update(People person)
    {
        _navigation.NavigateTo($"person/{person.Id}");
    }

    private async Task Delete(int id)
    {
        var cliente = await peopleService.DeletePerson(id);
        await Search();
    }

   


}