@page "/person"
@page "/person/{Id:int}"
@rendermode InteractiveServer

<br />
<br />
<div class="container">
    <h3>Pessoa</h3>
</div>

<div class="container">
    <div class="form-row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <EditForm Model="person" OnValidSubmit="HandleSave" FormName="Pessoa">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Nome</label>
                                <InputText @bind-Value="person.Name" placeholder="Nome" class="form-control"></InputText>
                                <ValidationMessage For="()=>person.Name"></ValidationMessage>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">CPF</label>
                                <InputText @bind-Value="person.CPF" placeholder="CPF" class="form-control"></InputText>
                                <ValidationMessage For="()=>person.CPF"></ValidationMessage>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Data de Nascimento</label>
                                <InputDate @bind-Value="person.BirthDate" placeholder="CPF" class="form-control"></InputDate>
                                <ValidationMessage For="()=>person.BirthDate"></ValidationMessage>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Tipo do Telefone</label>
                                <EnumComponent EnumProperty="@phoneTypesEnum" EnumType="@(typeof(PhoneTypes))" />
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Número do Telefone</label>
                                <InputText @bind-Value="person.Phone.PhoneNumber" placeholder="Telefone" class="form-control"></InputText>
                                <ValidationMessage For="()=>person.Phone.PhoneNumber"></ValidationMessage>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="form-label">Cadastro Ativo?</label>
                                <input type="checkbox" name="IsActive" bind="@person.IsActive" />
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary mt-2"> Salvar</button>
                        <button type="submit" class="btn btn-primary mt-2" @onclick="NavigateToPeoplePage"> Cancelar</button>

                    </EditForm>
                </div>
                <div class="card-footer">
                    Id: @p.Id <br />
                    Nome:@p.Name <br />
                    Email: @p.CPF <br />
                    Idade: @p.BirthDate
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PhoneTypes phoneTypesEnum { get; set; } = new PhoneTypes();

    [Parameter]
    public int Id { get; set; }

    public People person { get; set; } = new People();

    private People p { get; set; } = new People();

    private async Task HandleSave()
    {
        if (person.Id > 0)
        {
            p = await peopleService.UpdatePerson(person);
        }
        else
        {
            p = await peopleService.NewPerson(person);

        }
        
        NavigateToPeoplePage();

    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
            person = await peopleService.GetPersonById(Id);
    }

    private void NavigateToPeoplePage()
    {
        _navigation.NavigateTo("/personSearch", true);
    }
}
